.image-banner{
    position: relative;
    margin: 3px; 
    text-align: center;

  }
.text-on-banner{
    position: absolute;
    top: 25px;
    left: 220px;
  }

.section{
    position:relative;
    background-color:rgb(32, 87, 182);
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 1024px;
    box-sizing: border-box;
    margin: 5px auto;
}

.logo{

  position:absolute;
  top: 300px;
  right: 130px;
  
}

ul {
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 56px;
    text-align: left;
    bottom: 150px;
    left: 130px;
  }
 
  a:link {
    color: rgb(32, 87, 182);
    text-decoration:underline;
    font-weight: bold;
  }
 
  a:visited{
    color: rgb(32, 87, 182);}


  #current-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .web-text {
    position: relative;
    text-align: left;
    font-size: 32px;
    left: 420px;
    margin:0;
    top:40px;
}

 h3 {
    position: relative;
    text-align: left;
    font-size: 52px;
    left: 420px;
    margin:0;
   
    
}

.web-paragraph-about-us {
    position: relative;
    text-align: left;
    font-size: 22px;
    left: 420px;
    bottom:10px
    
}

.web-paragraph-home {
    position: relative;
    text-align: left;
    font-size: 22px;
    left: 520px;
    top:20px
    
}
.tab-event{
    position:relative;
    text-indent: 1cm;
    padding:0px;
    bottom:20px;
    font-size: 22px;
}